<mat-card>
  <mat-card-content>
    <h2 class="title"> Registration </h2>
    <form class="registration-page" [formGroup]="registrationForm" (ngSubmit)="submit()">
      <!-- First name -->
      <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input type="text"
               matInput
               formControlName="firstName"
               required>
        <mat-error *ngIf="registrationForm.get('firstName').invalid && (registrationForm.get('firstName').dirty || registrationForm.get('firstName').touched)">
          <span *ngIf="registrationForm.get('firstName').errors?.required">
            Input the first name
          </span>
          <span *ngIf="registrationForm.get('firstName').errors?.minlength">
            The name is too small
          </span>
        </mat-error>
      </mat-form-field>
      <!-- Last name -->
      <mat-form-field appearance="standard">
        <mat-label>Last Name</mat-label>
        <input type="text"
               matInput
               formControlName="lastName"
               required>
        <mat-error *ngIf="registrationForm.get('lastName').invalid && (registrationForm.get('lastName').dirty || registrationForm.get('lastName').touched)">
          <span *ngIf="registrationForm.get('lastName').errors?.required">
            Input the last name
          </span>
          <span *ngIf="registrationForm.get('lastName').errors?.minlength">
            The last name is too small
          </span>
        </mat-error>
      </mat-form-field>
      <!-- email name -->
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input type="text"
               matInput
               formControlName="email"
               required>
        <mat-error *ngIf="registrationForm.get('email').invalid && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
          <span *ngIf="registrationForm.get('email').errors?.required">
            Input the email
          </span>
          <span *ngIf="registrationForm.get('email').errors?.email">
            Incorrect email
          </span>
        </mat-error>
      </mat-form-field>
      <div class="password-container" formGroupName="password">
        <!-- password -->
        <mat-form-field appearance="standard">
          <app-password
            formControlName="password"
            placeholder="Password">
          </app-password>
          <mat-error *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
            <span *ngIf="passwordControl.errors?.required">
              Input the password
            </span>
            <span *ngIf="passwordControl.hasError('minlength')">
              Password is too small <br>
            </span>
            <span
              *ngIf="passwordControl.hasError('hasNumber')
                      || passwordControl.hasError('hasCapitalCase')
                      || passwordControl.hasError('hasSmallCase')
                      || passwordControl.hasError('hasSpecialSymbol')"
            >
              Must have at least one number, letter, special symbol
            </span>
          </mat-error>
        </mat-form-field>
        <!-- confirm password -->
        <mat-form-field appearance="standard">
          <app-password
            formControlName="confirmPassword"
            placeholder="Confirm password">
          </app-password>
          <mat-error>
            <span>
              Incorrect password
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <button
        class="submit-registration"
        type="submit"
      >Sign up</button>
    </form>
  </mat-card-content>
</mat-card>
