.mat-card {
  width: 40%;
  margin: auto;

  .page-author-creator {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;

    .form-btn {

      .submit {
        cursor: pointer;
        border: none;
        background-color: #Ff5678;
        color: #fdf7f6;
        border-radius: 8px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        padding: 14px 24px;
      }
    }
  }

  .title {
    text-align: center;
  }

}
