.mat-card {
  width: 30%;
  margin: auto;

  .page-author-creator {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .title {
    text-align: center;
  }

}

.create-page-author {
  display: flex;
}

.author-pic {
  width: 700px;
}
