<form class="address-form" [formGroup]="addressForm" (ngSubmit)="submit()">
<!--  country -->
  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <input type="text"
           matInput
           formControlName="country"
           required
           [matAutocomplete]="auto">
    <mat-spinner
      matSuffix
      [diameter]="24"
      *ngIf="loaded">
    </mat-spinner>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayValue">
      <mat-option *ngFor="let country of filteredCountry$ | async" [value]="country">
        {{ country.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-error>
    </mat-error>
  </mat-form-field>
<!--  city -->
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input type="text"
           matInput
           formControlName="city"
           required>
    <mat-error>
    </mat-error>
  </mat-form-field>
<!--  street -->
  <div class="address">
    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input type="text"
             matInput
             formControlName="street"
             required>
      <mat-error>
      </mat-error>
    </mat-form-field>
    <!--  house -->
    <mat-form-field appearance="outline">
      <mat-label>House</mat-label>
      <input type="text"
             matInput
             formControlName="house"
             required>
      <mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="address">
    <!--  flat -->
    <mat-form-field appearance="outline">
      <mat-label>Flat</mat-label>
      <input type="text"
             matInput
             formControlName="flat"
             required>
      <mat-error>
      </mat-error>
    </mat-form-field>
    <!-- zip -->
    <mat-form-field appearance="outline">
      <mat-label>Zip</mat-label>
      <input type="text"
             matInput
             formControlName="zip"
             required>
      <mat-error>
      </mat-error>
    </mat-form-field>
  </div>
</form>
