.address-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding-bottom: 24px;
}

.address {
  display: flex;
  justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
