<form class="page-auth"
      [formGroup]="loginForm"
      (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input type="text"
           matInput
           autofocus
           formControlName="email"
           required>
    <mat-error>
      <span *ngIf="emailControl.hasError('required')">
        Input the login
      </span>
      <span *ngIf="emailControl.hasError('minlength')">
        The login name is too small
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password"
           matInput
           formControlName="password"
           required>
    <mat-error>
      <span *ngIf="passwordControl.hasError('required')">
        Input the password
      </span>
      <span *ngIf="passwordControl.hasError('minlength')">
        The password is too small
      </span>
    </mat-error>
  </mat-form-field>
  <button
    class="submit"
    type="submit"
  >Log in</button>
</form>

