<div class="panel">
  <div class="filter-panel">
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState"
                           (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Authors
          </mat-panel-title>
          <mat-panel-description>
            Filter by authors
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="data-panel">
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelTwoOpenState"
                           (opened)="panelTwoOpenState = true"
                           (closed)="panelTwoOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Info
          </mat-panel-title>
          <mat-panel-description>
            Info about authors
            <a href="#" [routerLink]="['/authors', 'create']" class="link-create">
              <mat-icon>addchart</mat-icon>
            </a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-authors-table></app-authors-table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


