<form class="billing-info" [formGroup]="billingForm">
<!--  number -->
  <mat-form-field appearance="outline">
    <mat-label>Number</mat-label>
    <input type="text"
           matInput
           formControlName="number"
           required>
    <mat-error>
    </mat-error>
  </mat-form-field>
  <div class="valid-cvv">
    <!--  valid -->
    <mat-form-field appearance="outline">
      <mat-label>Valid</mat-label>
      <input type="text"
             matInput
             formControlName="valid"
             required>
      <mat-error>
      </mat-error>
    </mat-form-field>
    <!--  cvv -->
    <mat-form-field appearance="outline">
      <mat-label>CVV</mat-label>
      <input type="password"
             matInput
             formControlName="cvv"
             required>
      <mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <!--  Name -->
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text"
           matInput
           formControlName="name"
           required>
    <mat-error>
    </mat-error>
  </mat-form-field>
</form>
