<form [formGroup]="generalForm" (ngSubmit)="submit()">
  <mat-card>
    <mat-horizontal-stepper labelPosition="bottom" [linear]="true">
      <mat-step [stepControl]="registrationForm">
        <ng-template matStepLabel>Personal info</ng-template>
        <!--        container -->
        <app-registration
          [registrationForm]="registrationForm">
        </app-registration>
        <!--    -->
        <div class="next-btn">
          <button mat-button matStepperNext class="general-btn" type="button">Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="addressForm">
        <ng-template matStepLabel>Address</ng-template>
        <!--        container -->
        <app-address-container
          [addressForm]="addressForm">
        </app-address-container>
        <!--      -->
        <div class="registration-btn">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext class="general-btn" type="button">Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="billingForm">
        <ng-template matStepLabel>Billing info</ng-template>
        <!--      container -->
        <app-credit-card
          formControlName="billingForm">
        </app-credit-card>
        <!--      -->
        <div class="registration-btn">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext class="general-btn" type="submit">Sing up</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</form>
