<mat-card>
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="registrationForm">
    <ng-template matStepLabel>Personal info</ng-template>
<!--        container -->
      <app-registration
        [registrationForm]="registrationForm">
        <!--            (formSubmit)="formSubmit($event)">-->
      </app-registration>
<!--    -->
    <div class="next-btn">
      <button mat-button matStepperNext class="submit">Next</button>
    </div>
    </mat-step>
    <mat-step [stepControl]="addressForm">
      <ng-template matStepLabel>Address</ng-template>
<!--        container -->
      <app-address-container
         [addressForm]="addressForm">
      </app-address-container>
<!--      -->
      <div class="registration-btn">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext class="submit">Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="billingForm">
      <ng-template matStepLabel>Billing info</ng-template>
<!--        container -->
<!--      <app-billing-container-->
<!--       [billingForm]="billingForm">-->
<!--      </app-billing-container>-->
        <app-credit-card>
        </app-credit-card>
<!--      -->
      <div class="registration-btn">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext class="submit">Sing up</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
