<div class="page">
<div class="pic-container">
  <img src="assets/pic/1.svg" alt="no pic" class="pic-auth">
</div>

<mat-card>
  <mat-card-content>
    <h2 class="title"> Log in </h2>
    <form class="page-auth" [formGroup]="authPageForm" (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input type="text"
               matInput
               autofocus
               formControlName="email"
               required>
        <mat-error *ngIf="authPageForm.get('email').invalid && (authPageForm.get('email').dirty || authPageForm.get('email').touched)">
          <span *ngIf="authPageForm.get('email').errors?.required">
            Input the login
          </span>
          <span *ngIf="authPageForm.get('email').errors?.minlength">
            The login name is too small
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password"
               matInput
               formControlName="password"
               required>
        <mat-error *ngIf="authPageForm.get('password').invalid && (authPageForm.get('password').dirty || authPageForm.get('password').touched)">
          <span *ngIf="authPageForm.get('password').errors?.required">
            Input the password
          </span>
          <span *ngIf="authPageForm.get('password').errors?.minlength">
            The password is too small
          </span>
        </mat-error>
      </mat-form-field>
      <button
        class="submit"
        type="submit"
      >Log in</button>
    </form>
    <a class="restore-pwd"> Forgot the password? </a>
    <div class="registration">
      <span class="registration-message">Don`t have an account yet?</span>
      <a [routerLink]="['/registration']" class="registration-ref">Sign up</a>
    </div>
  </mat-card-content>
</mat-card>
</div>

