<div class="panel">
  <div class="filter-panel">
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState"
                           (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Books
          </mat-panel-title>
          <mat-panel-description>
            Filter by books
            <mat-icon>library_books</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-filter-view></app-filter-view>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="data-panel">
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelTwoOpenState"
                           (opened)="panelTwoOpenState = true"
                           (closed)="panelTwoOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Info
          </mat-panel-title>
          <mat-panel-description>
            <span class="info">Info about books</span>
            <button mat-icon-button [routerLink]="['/books', 'create']">
              <mat-icon>addchart</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <app-books-table></app-books-table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


