<form class="page-creator" [formGroup]="booksForm">
  <!-- photo  -->
  <div class="upload">
    <input
      formControlName="image"
      hidden
      type="file"
      #imgFileInput
      accept="image/png, image/jpeg, image/jpg"/>
    <img [src]=bookPicture
         alt="none"
         class="img-preview">
    <button mat-mini-fab
            (click)="imgFileInput.click()"
            color="primary"
            type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <!-- title -->
  <mat-form-field [appearance]=appearanceFill>
    <mat-label>Title</mat-label>
    <input type="text"
           id="title"
           name="title-books"
           matInput
           formControlName="title"
           required>
    <mat-error *ngIf="titleControl.invalid && (titleControl.dirty || titleControl.touched)">
      <span *ngIf="titleControl.errors?.required">
         Input the title
      </span>
      <span *ngIf="titleControl.errors?.minlength">
        The title is too small
      </span>
      <span *ngIf="titleControl.errors?.maxlength">
        The title is too big
      </span>
    </mat-error>
  </mat-form-field>
  <!-- authors -->
  <ng-container *ngIf="allAuthors.length">
    <mat-form-field [appearance]=appearanceFill>
      <mat-label>Author</mat-label>
      <input type="text"
             name="author"
             matInput
             formControlName="author"
             required
             [matAutocomplete]="autoAuthors">
      <mat-autocomplete #autoAuthors="matAutocomplete" [displayWith]="displayValue">
        <mat-option *ngFor="let author of filteredOptions$ | async"
                    [value]="author">
          {{author.first_name}} {{author.last_name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error
        *ngIf="authorControl.invalid && (authorControl.dirty || authorControl.touched)">
        <span *ngIf="authorControl.errors?.required">
          Select the author
        </span>
        <span *ngIf="authorControl.errors?.maxlength">
          The author is too big
        </span>
      </mat-error>
    </mat-form-field>
  </ng-container>
  <!-- genres -->
  <app-genres-custom-control
    formControlName="genres"
    [appearanceClass]="appearanceFill"
    [parentForm]="booksForm"
  >
  </app-genres-custom-control>
  <!-- description -->
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      class="description"
      rows="7"
      matInput
      formControlName="description"
      required>
      </textarea>
    <mat-error *ngIf="descriptionControl.invalid && (descriptionControl.dirty || descriptionControl.touched)">
      <span *ngIf="descriptionControl.errors?.required">
        Input the description
      </span>
      <span *ngIf="descriptionControl.errors?.minlength">
        The description is too small
      </span>
      <span *ngIf="descriptionControl.errors?.maxlength">
        The description is too big
      </span>
    </mat-error>
  </mat-form-field>
  <div class="price-container">
    <!-- price -->
    <mat-form-field [appearance]=appearanceFill>
      <mat-label>Price</mat-label>
      <input
        type="number"
        name="price-book"
        matInput
        #priceInput
        formControlName="price"
        required>
      <mat-error *ngIf="priceControl.invalid && (priceControl.dirty || priceControl.touched)">
        <span *ngIf="priceControl.errors?.required">
          Input the price
        </span>
        <span *ngIf="priceControl.errors?.pattern">
          Incorrect price
        </span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="date-container">
    <!-- date -->
    <mat-form-field [appearance]=appearanceFill>
      <mat-label>Writing Date</mat-label>
      <input
        name="date"
        matInput
        [matDatepicker]="writingDatePicker"
        [max]="maxDateWriting"
        formControlName="writingDate"
        required>
      <mat-datepicker-toggle matSuffix [for]="writingDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #writingDatePicker></mat-datepicker>
      <mat-error *ngIf="writingDateControl.invalid && (writingDateControl.dirty || writingDateControl.touched)">
        <span *ngIf="writingDateControl.errors?.required">
          Input the date of writing a book
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]=appearanceFill>
      <mat-label>Release Date</mat-label>
      <input
        name="date"
        matInput
        [matDatepicker]="releaseDatePicker"
        [max]="maxDateRelease"
        [min]="minDateRelease"
        formControlName="releaseDate"
        required>
      <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #releaseDatePicker></mat-datepicker>
      <mat-error *ngIf="releaseDateControl.invalid && (releaseDateControl.dirty || releaseDateControl.touched)">
        <span *ngIf="releaseDateControl.errors?.required">
          Input the date of release a book
        </span>
      </mat-error>
    </mat-form-field>
  </div>
</form>
