.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.panel {
  display: flex;
  flex-direction: column;

  .filter-panel {
    margin-bottom: 20px;
  }

  .data-panel {
    margin-bottom: 20px;

    .link-create {
      text-decoration: none;
      color: grey;
    }
  }
}
