.mat-card {
  width: 25%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0 6px 80px rgba(0, 0, 0, 0.07), 0 0.751293px 10.0172px rgba(0, 0, 0, 0.035);
  border-radius: 8px;

  .title {
    text-align: center;
  }

  .restore-pwd {
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #Ff5678;
    margin-top: 8px;
  }

  .registration {
    display: flex;
    justify-content: center;
    margin-top: 12px;

    .registration-message {
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      color: #Ff5678;
      margin-right: 8px;
    }

    .registration-ref {
      cursor: pointer;
      display: block;
      font-weight: bold;
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      color: #Ff5678;
      text-decoration: none;
    }
  }

}

.pic-auth {
  width: 600px;
}

.page {
  display: flex;
}
