<nav class="navbar">
  <a href="/" class="logo">Boooks!</a>
  <div class="menu-item">
    <a [routerLink]="['/authors']"
       class="menu-authors">
      Authors
    </a>
    <a [routerLink]="['/books']"
       class="menu-books">
      Books
    </a>
  </div>
  <button mat-icon-button
          *ngIf="logged$ | async"
          [routerLink]="['/account']"
          class="menu-log">
    <mat-icon>how_to_reg</mat-icon>
  </button>
  <button mat-button
          [routerLink]="['/login']"
          *ngIf="(logged$ | async) === false"
          class="navbar-btn">
          Sign in
  </button>
  <button mat-raised-button
          [routerLink]="['/registration']"
          color="primary"
          class="navbar-btn">
    Sign up
  </button>
</nav>

