.footer {
  padding: 3px;
  display: flex;
  align-items: center;
  background-color: fuchsia;
  color: white;
  height: 70px;

  .info-footer {
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
}
