table {
  width: 100%;
}

.mat-row {
  padding: 10px 10px;
}

.mat-column-id, .mat-column-authorId {
  width: 50px;
  padding-right: 10px;
}

.mat-column-price, .mat-column-writingDate, .mat-column-releaseDate {
  width: 150px;
  padding-right: 10px;
}

.mat-column-genres {
  padding: 10px 10px;
}

.mat-column-title {
  padding-right: 10px;
}

.mat-column-description {
  padding: 10px;
}
