<form
  class="books-filter-panel"
  [formGroup]="booksFilterForm"
  (ngSubmit)="submit()">
  <div class="title-genres">
    <!-- title -->
    <mat-form-field appearance="standard">
      <mat-label>Title</mat-label>
      <input type="text"
             id="title"
             name="title-books"
             matInput
             formControlName="title">
      <mat-error>
        <span *ngIf="booksFilterForm.get('title').errors?.minlength">
          The title is too small
        </span>
      </mat-error>
    </mat-form-field>
    <!-- genres -->
    <div class="genres-field">
      <app-genres-custom-control
        formControlName="genres"
        [appearanceClass]="appearanceStandard">
      </app-genres-custom-control>
    </div>
  </div>
  <!-- price -->
  <div class="price-container" formGroupName="price">
    <mat-form-field appearance="standard">
      <mat-label>Price from</mat-label>
      <input
        type="number"
        name="price-book"
        matInput
        formControlName="from">
      <mat-error *ngIf="priceFromControl.invalid">
        <span *ngIf="priceFromControl.errors?.min || priceFromControl.errors?.max || priceFromControl.errors?.pattern">
          Incorrect price
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Price to</mat-label>
      <input
        type="number"
        name="price-book"
        matInput
        formControlName="to">
      <mat-error *ngIf="priceToControl.invalid">
        <span *ngIf="priceToControl.errors?.min || priceToControl.errors?.pattern">
          Incorrect price
        </span>
      </mat-error>
    </mat-form-field>
  </div>
  <!-- date -->
  <div class="date-container">
    <mat-form-field appearance="standard">
      <mat-label>Writing Date</mat-label>
      <input
        name="date"
        matInput
        [max]="maxDateWriting"
        [matDatepicker]="picker"
        formControlName="writingDate">
      <mat-datepicker-toggle
        matSuffix
        [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Release Date</mat-label>
      <input
        name="date"
        matInput
        [max]="maxDateRelease"
        [min]="minDateRelease"
        [matDatepicker]="picker1"
        formControlName="releaseDate">
      <mat-datepicker-toggle
        matSuffix
        [for]="picker1">
      </mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-btn-search">
    <button
      class="submit"
      type="submit"
    >Save</button>
  </div>
</form>

