<form
  class="books-filter-panel"
  [formGroup]="booksFilterForm"
  (ngSubmit)="submit()">
  <div class="title-genres">
    <!-- title -->
    <mat-form-field appearance="standard">
      <mat-label>Title</mat-label>
      <input type="text"
             id="title"
             name="title-books"
             matInput
             formControlName="title">
      <mat-error>
        <span *ngIf="titleControl.hasError('minlength')">
          The title is too small
        </span>
      </mat-error>
    </mat-form-field>
    <!-- genres -->
    <div class="genres-field">
      <app-genres-custom-control
        formControlName="genres"
        [appearanceClass]="appearanceStandard">
      </app-genres-custom-control>
    </div>
  </div>
  <!-- price -->
  <div class="price-container" formGroupName="price">
    <mat-form-field appearance="standard">
      <mat-label>Price from</mat-label>
      <input
        type="number"
        name="price-book"
        matInput
        formControlName="from">
      <mat-error>
        <span *ngIf="priceFromControl.hasError('priceCheck')">
          Price From should be bigger than Price To
        </span>
        <span *ngIf="priceFromControl.hasError('pattern')">
          Incorrect price pattern
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Price to</mat-label>
      <input
        type="number"
        name="price-book"
        matInput
        formControlName="to">
      <mat-error>
        <span *ngIf="priceToControl.hasError('priceCheck')">
          Price To should be smaller than Price From
        </span>
        <span *ngIf="priceToControl.hasError('pattern')">
          Incorrect price pattern
        </span>
      </mat-error>
    </mat-form-field>
  </div>
  <!-- date -->
  <div class="date-container" formGroupName="data">
    <mat-form-field appearance="standard">
      <mat-label>Writing Date</mat-label>
      <input
        name="date"
        matInput
        [max]="maxDateWriting"
        [matDatepicker]="writingDatePicker"
        formControlName="writingDate">
      <mat-datepicker-toggle
        matSuffix
        [for]="writingDatePicker">
      </mat-datepicker-toggle>
      <mat-datepicker #writingDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Release Date</mat-label>
      <input
        name="date"
        matInput
        [max]="maxDateRelease"
        [min]="minDateRelease"
        [matDatepicker]="releaseDatePicker"
        formControlName="releaseDate">
      <mat-datepicker-toggle
        matSuffix
        [for]="releaseDatePicker">
      </mat-datepicker-toggle>
      <mat-datepicker #releaseDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-btn-search">
    <button
      class="submit"
      type="submit"
    >Save</button>
  </div>
</form>

