.books-filter-panel {
  display: flex;
  justify-content: space-between;
  margin: auto;

  .title-genres {
    width: 30%;

    .mat-form-field {
      width: 100%;
    }
  }

  .price-container {
    width: 20%;

    .mat-form-field {
      width: 90%;
    }
  }

  .date-container {
    width: 20%;

    .mat-form-field {
      width: 90%;
    }
  }

  .form-btn-search {
    display: flex;
    align-items: center;
  }
}
